.cisco_dial {
	background: url('chrome-extension://__MSG_@@extension_id__/images/dial_icon.png') center center no-repeat;
}

.cisco_tooltip {
	display: block;
	position: absolute;
	z-index: 9999;
	-webkit-border-radius: 0;
	-webkit-box-shadow: none;
	-webkit-transition: visibility 0, opacity .13s ease-in;
	background-color: #eee;
	display: block;
	opacity: 1;
	position: absolute;
	visibility: visible;
	cursor: pointer;
	background-image: url('chrome-extension://__MSG_@@extension_id__/images/extension_icon_128.png'); 
	background-repeat: no-repeat;
	background-size: contain;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border: 2px solid #eee;
	border-right: 4px solid #eee;
	box-sizing: content-box;
}

.cisco_hidden {
	-webkit-transition: visibility .13s, opacity .13s ease-out, left 0 linear .13s, top 0 linear .13s;
	opacity: 0;
	left: 20px !important;
	top: 20px !important;
	visibility: hidden;
}

.cisco_hover {
	-webkit-transition: background-color .13s ease-in, border-color .13s ease-in;
	background-color: #12F729;
	border-color: #12F729;
}
